@require '../../utils/styl/common.styl'

.chat__form--contacts .chat__field
  margin-bottom 5px

.btn-dialog
  color messageTimeColor
  text-decoration none

.contacts-appear
  transform translate(100%, 0)

  &.contacts-appear-active
    transform none
    transition all 300ms ease-out
