@require '../../utils/styl/common.styl'

.chat
  font normal 14px/1.4 Arial, sans-serif
  position fixed
  right 15px
  bottom 8px
  z-index 40

  *
    &:not(.nrx-chat__header-img)
      box-sizing border-box

.hidden
  display none !important

.btn-primary
  height 35px
  padding 0 20px
  color mainColor
  background-color mainBg
  vertical-align top
  text-align center
  border none
  border-radius 4px
  cursor pointer
  float right
  border-top-left-radius 2px
  border-top-right-radius 2px

  &:hover,
  &:focus
    outline none
    opacity 0.7

  &:active
    opacity 0.9

.btn-additional
  color #607d8b
  background none
  border none
  padding 0
  margin-right 20px
  line-height 35px
  cursor pointer

  &:focus
    outline none

  &:hover
    text-decoration underline
    opacity 0.8

  &:active
    opacity 0.6
