mainBg = #607D8B;            // Фон заголовка, кнопки раскрытия и кнопки 'Отправить'
bodyBg = #fafafa;            // Фон чата
userMessageBg = #eee;        // Фон приветственного сообщения и вх. сообщений
orgMessageBg = #80CBC4;      // Фон сообщения пользователя
errorBg = #ffcdd2            // Фон серверного сообщщения об ошибке
okBg = #c8e6c9               // Фон серверного сообщения об успехе

mainColor = #fff;            // Цвет заголовка, кнопки раскрытия и кнопки 'Отправить'
orgMessageColor = #fff;      // Цвет шрифта приветственного сообщения и вх. сообщений
userMessageColor = #616161;  // Цвет шрифта сообщения пользователя
messageTimeColor = #999;     // Цвет шрифта времени сообщений
inputColor = #4b4a4a         // Цвет текста в полях ввода
placeholderColor = #bdbdbd;  // Цвет подсказок полей форм
errorColor = #e57373         // Цвет сообщений об ошибках

inputBorder =#dcdcdc         // Цвет границ полей ввода
